<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>host</key>
	<string>http://47.104.107.196:18070</string>
	<key>hosts</key>
	<array>
		<string>formal,http://47.104.107.196:18070</string>
		<string>test,http://47.104.85.148:18070</string>
	</array>
	<key>AquireStationsOfCity</key>
	<string>{host}/ckdhd/queryCsZd.action</string>
</dict>
</plist>
